# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log

# Node
node_modules/
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
